*{
    
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TBL{
    border-radius: 2%;
    background-color:whitesmoke;

}

td{
    border-radius: 50%;
    color: brown;
    font-size: 25px;
    text-align: center;
    
}
td:hover{
    cursor: pointer;
    background-color: rgb(71, 71, 71);
    transition: all 3s;
}
.qual{
    border-radius: 10px;
}
.mode{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 20px;
}
th{
    background-color: aliceblue;
    font-family: 'Times New Roman';
}